body {
    overflow-x: hidden;
}

#container-site {
  background: #f1f1f1
}

h3 {
  font-family: 'Lobster' !important;
  text-align: right;
}

#menuTop {
    display: block;

    li {
        float: left;
        margin-right: 10px;
    }
}